
<h3 class="footer__h3">Created by Alan Pieczonka, 2018</h3>
<a href="https://github.com/AlanPieczonka" target="_blank" rel="noopener noreferrer">
  <img src="https://raw.githubusercontent.com/AlanPieczonka/ReactMarkdownPreviewer/master/src/css/img/github-logo.png" class="img--githublogo" alt="Github Icon" />
</a>