<select id="mySelect" onchange={{action "setSelection" value="target.value"}}>
    <option value='price_usd'>Price</option>
    <option value='percent_change_24h'>24 hour change</option>
    <option value='percent_change_7d'>7 day change</option>
</select>