<select id="mySelect" onchange={{action "setSelection" value="target.value"}}>
    <option value='price_usd'>Price</option>
    <option value='percent_change_24h'>24h Change</option>
    <option value='percent_change_7d'>7d Change</option>
</select>