<div class="container ui grid">
  <div class="eight column row centered">
  {{#each model as |crypto|}}
    {{#menu/menu-link crypto=crypto}}
      {{crypto.symbol}}
    {{/menu/menu-link}}
  {{/each}}
  </div>
</div>
{{outlet}}