    <button class="ui primary basic button">Primary</button>
    <button class="ui secondary basic button">Secondary</button>
    <button class="ui positive basic button">Positive</button>
    <button class="ui negative basic button">Negative</button>
    <hr>
{{#each model as |crypto|}}
      {{#link-to 'cryptos.crypto' crypto.symbol class="ui primary basic button"}}{{crypto.symbol}}{{/link-to}}
{{/each}}
{{outlet}}