    <button class="ui primary basic button">Primary</button>
    <button class="ui secondary basic button">Secondary</button>
    <button class="ui positive basic button">Positive</button>
    <button class="ui negative basic button">Negative</button>
    <hr>
{{#each model as |crypto|}}
  <div class="grid center aligned container">
    <div class="center aligned">
      <button class="ui primary basic button">{{crypto.symbol}}</button>
    </div>
  </div>
{{/each}}
{{outlet}}